 #root {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #222;
  background: #fff;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
}
